@using Microsoft.AspNetCore.Identity
@model Thrift_Us.ViewModel.OrderDetailsViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    if (User.IsInRole("Buyer"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (User.IsInRole("Seller"))
    {
        Layout = "~/Views/Shared/_SellerLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";

    }
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<form method="post" action="@Url.Action("UpdateOrderStatus", "RentalOrder")">
    <input type="hidden" name="orderId" value="@Model.RentalOrderHeader.Id" />



    <div class="container-sm">
        <div class="row">
            <div class="col-6">
                <h2>Pickup Details</h2>

                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    var roles = await UserManager.GetRolesAsync(user);
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.Name">Name</label>
                            <input asp-for="RentalOrderHeader.Name" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.Name" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.Name"> Name</label>
                            <input readonly asp-for="RentalOrderHeader.Name" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="OrderHeader.Phone">Phone</label>
                            <input asp-for="RentalOrderHeader.Phone" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.Phone" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.Phone">Phone</label>
                            <input readonly asp-for="RentalOrderHeader.Phone" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.Address">Address</label>
                            <input asp-for="RentalOrderHeader.Address" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.Address" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.Address">Address</label>
                            <input readonly asp-for="RentalOrderHeader.Address" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.StartDate">StartDate</label>
                            <input asp-for="RentalOrderHeader.StartDate" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.StartDate" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.StartDate">StartDate</label>
                            <input readonly asp-for="RentalOrderHeader.StartDate" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.EndDate">EndDate</label>
                            <input asp-for="RentalOrderHeader.EndDate" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.EndDate" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.EndDate">EndDate</label>
                            <input readonly asp-for="RentalOrderHeader.EndDate" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.RentalDuration">RentalDuration</label>
                            <input asp-for="RentalOrderHeader.RentalDuration" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.RentalDuration" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.RentalDuration">RentalDuration</label>
                            <input readonly asp-for="RentalOrderHeader.RentalDuration" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.City">City</label>
                            <input asp-for="RentalOrderHeader.City" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.City" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.City">City</label>
                            <input readonly asp-for="RentalOrderHeader.City" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.State">State</label>
                            <input asp-for="RentalOrderHeader.State" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.State" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.State">State</label>
                            <input readonly asp-for="RentalOrderHeader.State" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.PostalCode">PostalCode</label>
                            <input asp-for="RentalOrderHeader.PostalCode" class="form-control" />
                            <span asp-validation-for="RentalOrderHeader.PostalCode" class="text-danger"></span>
                        }
                        @if (roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.PostalCode">PostalCode</label>
                            <input readonly asp-for="RentalOrderHeader.PostalCode" class="from-control" />
                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller")|| roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.ApplicationUser.Email">Email</label>
                            <input readonly asp-for="RentalOrderHeader.ApplicationUser.Email" class="form-control" />

                        }

                    </div>
                    <div class="row mb-3">
                        @if ((user.UserName=="admin0@gmail.com") || roles.Contains("Seller")|| roles.Contains("Buyer"))
                        {
                            <label asp-for="RentalOrderHeader.OrderDate">OrderDate</label>
                            <input readonly asp-for="RentalOrderHeader.OrderDate" class="form-control" />

                        }

                    </div>
                    <div class="row md-3">
                        @if ((user.UserName == "admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.PaymentStatus">PaymentStatus</label>
                            <select name="paymentStatus" class="form-control">
                                @foreach (var status in Enum.GetValues(typeof(Payment_Status)))
                                {
                                    <option value="@((int)status)">@status.ToString()</option>
                                }
                            </select>
                        }
                    </div>
                    <div class="row md-3">
                        @if ((user.UserName == "admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <label asp-for="RentalOrderHeader.OrderStatus">OrderStatus</label>
                            <select name="orderStatus" class="form-control">
                                @foreach (var status in Enum.GetValues(typeof(Order_Status)))
                                {
                                    <option value="@((int)status)">@status.ToString()</option>
                                }
                            </select>
                        }
                    </div>
                    <div class="row mb-3">

                        @if ((user.UserName == "admin0@gmail.com") || roles.Contains("Seller"))
                        {
                            <button type="submit" class="btn btn-primary">Update Order</button>
                        }
                    </div>
                    @if (roles.Contains("Buyer"))
                    {
                        <div class="row mb-3">
                            <label asp-for="RentalOrderHeader.PaymentStatus">PaymentStatus</label>
                            <input readonly asp-for="RentalOrderHeader.PaymentStatus" class="form-control" />
                        </div>
                        <div class="row mb-3">
                            <label asp-for="RentalOrderHeader.OrderStatus">RentalStatus</label>
                            <input readonly asp-for="RentalOrderHeader.OrderStatus" class="form-control" />
                        </div>
                    }



                }
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header bg-success text-white">
                        <h5 class="mb-0">Summary-@Model.RentalOrderHeader.OrderStatus</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in Model.RentalOrderDetails)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-centre">
                                    <div>
                                        <div class="form-row mb-3">
                                            <span>Product Name: @item.Product.ProductName</span>
                                        </div>
                                        <div class="form-row mb-3">
                                            <span>Quantity: @item.Count</span>
                                        </div>
                        
                                       
                                        @if (Model.RentalOrderHeader.OrderStatus == Order_Status.Recieved)
                                        {
                                            <div class="form-row mb-3">
                                                <span>Refund Amount:Already provided </span>
                                                <span><br>@item.RefundAmount</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-row mb-3">
                                                <span>Refund Amount: @item.RefundAmount</span>
                                            </div>
                                        }
                                    </div>
                                </li>

                            }

                            <li class="list-group-item d-flex justify-content-between align-content-center">
                                <div>
                                    <strong>Total amount &nbsp;<span class="text-end">@Model.RentalOrderHeader.OrderTotal</span></strong>
                                </div>

                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>



    </div>
    </div>
</form>
